---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Word from '../components/Word.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<h1><span class="text-gradient">ただ入力した文字拡大するページ</span></h1>
		<Word client:load />
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 60ch;
		font-size: 200%;
	}
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
</style>
