---
interface Props {
  title: string;
  body: string;
  href: string;
}

const {href, title, body} = Astro.props;
---

<script>
  // 懐かしいコードだな
  const wordElem = document.querySelector('#word');
  const displayElem = document.querySelector('#display');
  const RETURN_KEY_CODE = 13;
  wordElem.addEventListener('keydown', (event) => {
    console.log('keydown', event.which);
    if (event.which === RETURN_KEY_CODE) {
      // iOS の改行ボタンをタップした時
      displayElem.innerText = event.srcElement.value;
    }
  }, false);
  wordElem.addEventListener('keyup', (event) => {
    console.log('keyup');
    // displayElem.textContent(event.srcElement.value);
    displayElem.innerText = event.srcElement.value;
  }, false);

  wordElem.focus();
</script>

<div>
  <input type="text" id="word">
  <p><span id="display"></span></p>
</div>

<style>
  #word {
      font-size: 150%;
      max-width: 90%;
  }
  #display {
      font-size: 320%;
      max-width: 100%;
  }

</style>