---
interface Props {
  title: string;
  body: string;
  href: string;
}

const {href, title, body} = Astro.props;
---

<script>
  const wordElem = document.querySelector('#word');
  const displayElem = document.querySelector('#display');
  // iPhone と Mac の Safari では input に hook することで漢字などの確定イベントが取れる
  wordElem.addEventListener('input', (event) => {
    console.log('input', event.which);
    displayElem.innerText = event.srcElement.value;
  }, false);
  // wordElem.addEventListener('keydown', (event) => {
  //   console.log('keydown', event.which);
  // }, false);
  // wordElem.addEventListener('keyup', (event) => {
  //   console.log('keyup');
  //   // displayElem.textContent(event.srcElement.value);
  //   displayElem.innerText = event.srcElement.value;
  // }, false);

  // 画面表示時に textbox にフォーカスする
  wordElem.focus();
</script>

<div>
  <input type="text" id="word">
  <p><span id="display"></span></p>
</div>

<style>
  #word {
      font-size: 150%;
      max-width: 90%;
  }
  #display {
      font-size: 500%;
      max-width: 100%;
  }

</style>